.container {
	position: relative;
	box-sizing: border-box;
	min-height: 100vh;

	&.inset {
		margin-left: $padding;
		margin-right: $padding;
	}
}

.footer-copyright {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30rpx;
	font-size: 24rpx;
	color: $gray-600;
}

.flex-v {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;

	.flex-item-v {
		flex-grow: 1;
		height: 0;
	}
}